absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.7.0
anthropic==0.38.0
anyio==4.6.0
APScheduler==3.10.4
argcomplete==3.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
autoflake==2.3.1
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.31.0
backoff==2.2.1
beautifulsoup4==4.12.3
black==24.10.0
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
boto3==1.35.34
botocore==1.35.34
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
cachelib==0.9.0
cachetools==5.4.0
catalogue==2.0.10
cement==3.0.4
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chromedriver-autoinstaller==0.6.4
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpathlib==0.18.1
cloudpickle==3.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.1.0
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dash==2.18.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-mantine-components==0.12.1
dash-table==5.0.0
dash_ag_grid==31.3.0
dask==2024.12.1
dataclasses-json==0.6.7
decorator==5.1.1
deepdiff==8.0.1
deepl==1.19.1
defusedxml==0.7.1
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
easyocr==1.7.2
editdistance==0.8.1
efficientnet==1.0.0
emoji==1.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
essential-generators==1.0
et-xmlfile==1.1.0
executing==2.1.0
ezdxf==1.3.4
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
filetype==1.2.0
fire==0.7.0
Flask==3.0.3
Flask-Caching==2.3.0
flask-sock==0.7.0
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
ftfy==6.2.3
future==1.0.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-vision==3.7.4
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.2
grpcio-status==1.66.2
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.12.1
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
imagecodecs @ file:///D:/bld/imagecodecs_1726939556424/work
imageio==2.35.1
imgaug==0.4.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
iniconfig==2.0.0
ipydatawidgets==4.3.5
ipython==8.29.0
ipywidgets==8.1.5
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
JPype1==1.5.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.13
kaggle==1.6.17
keras==3.5.0
Keras-Applications==1.0.8
keras-ocr==0.9.3
kiwipiepy==0.18.0
kiwipiepy_model==0.18.0
kiwisolver==1.4.5
ko-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.7.0/ko_core_news_sm-3.7.0-py3-none-any.whl#sha256=b1a15a4987a8f9835031a6bd2fe57fe158097ab5304221c41df1bd4aab8cf458
konlpy==0.6.0
kss==5.2.0
langchain==0.3.1
langchain-anthropic==0.2.4
langchain-community==0.3.1
langchain-core==0.3.15
langchain-openai==0.2.2
langchain-teddynote==0.0.34
langchain-text-splitters==0.3.0
langchain-upstage==0.3.0
langcodes==3.4.0
langdetect==1.0.9
langsmith==0.1.130
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
linkify-it-py==2.0.3
llama-index-core==0.11.17
llama-index-readers-file==0.2.2
llama-parse==0.5.7
llvmlite==0.43.0
lmdb==1.5.1
locket==1.0.0
lxml==5.3.0
lz4==4.3.3
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///D:/bld/markupsafe_1724959577091/work
marshmallow==3.22.0
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_f55mv94vyg/croot/mkl_fft_1725370278455/work
mkl_random @ file:///C:/b/abs_21ydbzdu8d/croot/mkl_random_1725370276095/work
ml-dtypes==0.4.1
mmh3==4.1.0
more-itertools==10.4.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msrest==0.7.1
multidict==6.1.0
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
ninja==1.11.1.1
nltk==3.9.1
numba==0.60.0
numpy @ file:///D:/bld/numpy_1707225519803/work/dist/numpy-1.26.4-cp312-cp312-win_amd64.whl#sha256=ffaa9485afb654c70a658c3ad4b7d2e60c60d8450d3779408d3a496564dc1d43
numpy-stl==3.1.2
oauthlib==3.2.2
occ==0.0.2.dev20190912195130
olefile==0.47
onnxruntime==1.19.2
openai==1.51.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
orderly-set==5.2.2
orjson==3.10.7
outcome==1.3.0.post0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
paddleocr==2.8.1
paddlepaddle==2.6.2
pandas==2.2.2
panel==1.5.3
param==2.1.1
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pecab==1.0.8
pi_heif==0.18.0
pillow @ file:///D:/bld/pillow_1704252246701/work
pillow_heif==0.18.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pinecone-text==0.9.0
platformdirs==4.3.6
playwright==1.49.0
plotly==5.23.0
pluggy==1.5.0
pooch==1.8.2
preshed==3.0.9
prettytable==3.11.0
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==3.20.3
protoc-gen-openapiv2==0.0.1
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post5
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.8.2
pydantic-settings==2.5.2
pydantic_core==2.20.1
pydeck==0.9.1
pyecharts==2.0.6
pyee==12.0.0
pyflakes==3.2.0
Pygments==2.18.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyparsing==3.1.2
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyreadline3==3.5.4
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytesseract==0.3.13
pytest==8.3.2
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
python-oxmsg==0.0.1
python-slugify==8.0.4
python-utils==3.9.0
pythreejs==2.4.2
pytz==2024.1
pyvista==0.43.10
PyWavelets==1.7.0
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1725456271438/work
rank-bm25==0.2.2
RapidFuzz==3.10.0
rapidocr-onnxruntime==1.3.24
referencing==0.35.1
regex==2024.7.24
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retriever==3.1.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
scooby==0.10.0
selenium==4.26.1
setuptools==74.0.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
srsly==2.4.8
stack-data==0.6.3
stpyvista==0.1.4
streamlit==1.41.1
streamlit-aggrid==1.0.5
streamlit-drawable-canvas==0.9.3
streamlit-echarts==0.4.0
streamlit-option-menu==0.3.13
striprtf==0.0.26
svgwrite @ file:///home/conda/feedstock_root/build_artifacts/svgwrite_1657874093829/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529704821/work
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1727250434425/work
tiktoken==0.8.0
tokenizers==0.20.0
toml==0.10.2
toolz==0.12.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado @ file:///D:/bld/tornado_1724956232756/work
tqdm==4.66.4
traitlets==5.14.3
traittypes==0.2.1
trame==3.5.5
trame-client==2.17.1
trame-plotly==3.0.2
trame-server==2.17.3
trame-vtk==2.8.11
trame-vuetify==2.7.1
trio==0.27.0
trio-websocket==0.11.1
typer==0.12.3
types-requests==2.32.0.20240914
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
undetected-chromedriver==3.5.5
unstructured==0.15.13
unstructured-client==0.25.9
urllib3==2.2.2
validators==0.28.3
vedo==2024.5.2
vizro==0.1.29
vtk==9.3.1
Wand==0.6.13
wasabi==1.1.3
watchdog==4.0.1
wcwidth==0.2.13
weasel==0.4.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.4
wget==3.2
wheel==0.44.0
widgetsnbextension==4.0.13
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wrapt==1.16.0
wslink==1.12.4
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.14.2
xyzservices==2024.9.0
yarl==1.13.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
zstandard==0.23.0
